* {
				margin: 0; padding: 0;
}

body {
				background-color: black;
				color: white;
				font-size: 2vw;
}

nav, footer {
    padding: 20px;
				background-color: white;
				display: block;				
}

a:link {
				padding: 15px;
				color: red;
				text-decoration: none;
}

a:hover {
				text-decoration: underline;
}

header {
				text-align: center;
				background-color: red;
				padding: 30px;
}

h2 {
				text-align: center;
				margin:30px;
}

img {
				max-width: 350px;
				max-height: 850px;
}

section {
				text-align: center;
}

p {
				font-size: 3vw;
				margin: 30px;
}

